.card {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
    padding: 1rem;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    transition: color 0.15s ease, border-color 0.15s ease;
    overflow: hidden;
}

.cardSuccess {
    border: 2px solid #008300;
}
.cardFailure {
    border: 2px solid #c50000;
}

.name {
    margin: 0;
}

.date strong,
.firstCoreSerialName strong,
.payloads strong {
    display: block;
    font-size: .9rem;
}
.date span,
.firstCoreSerialName span,
.payloads span {
    opacity: 0.8;
    word-break: break-all;
}

.payloads ul {
    margin: 0;
    opacity: 0.8;
    padding-left: 1.2rem;
    word-break: break-all;
}

.image {
    align-self: center;
    height: auto;
    width: 100%;
    max-width: 200px;
}

.failuresList {
    padding-left: 1.2rem;
    color: #c50000;
    margin: 0;
    text-transform: uppercase;
}

.success {
    margin-block-start: 1rem;
    text-align: center;
    letter-spacing: 0.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.success div {
    background: #008300;
    color: #fff;
    padding: 1rem;
    margin: -1rem;
}

.failure {
    margin-block-start: 1rem;
    text-align: center;
    letter-spacing: 0.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.failure div {
    background: #c50000;
    color: #fff;
    padding: 1rem;
    margin: -1rem;
}

